<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="create-blog content">
      <form action="/blogs" method="POST">
        <label for="title">Blog title:</label>
        <input type="text" id="title" name="title" required />
        <label for="snippet">Blog snippet:</label>
        <input type="text" id="snippet" name="snippet" required />
        <label for="body">Blog body:</label>
        <textarea id="body" name="body" required></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
<!-- The first thing we need to do, is to send a POST request when you press the submit button.
There are a couple of ways this can be done, with asynchronous fetch request, ajax
or from the form directly itself. We will send this from the form.
With this, action states what url request is sent to, whilst method 
states the method of the request. In order for all the data contained in the form 
to be sent when this post request is made and made available in the body,
 we need give each line a name attribute. These names need to correspond/be the same as the
 name fields in the database  -->